html {
  font-size: 10px;
  background-color: #1f2127  ;
  color: white;
  /*background-color: black;*/
}
body {
  margin: 0;
  font-family: "Zilla Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.section1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.section2 {
  display: flex;
  justify-content: end;
  
}

