@import url('./color.css');
.Proyectos-contenedor{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.Proyecto{
    background-color: var(--tarjeta);
    cursor:pointer;
    width: 29rem;
    height: 29rem;
    margin: 4.2rem;
    border-radius: 2rem;
    overflow: hidden;
    color: var(--texto);
}
.Proyecto:hover{
    background-color: var(--tarjeta-hover);
    box-shadow: 0.7rem 0.7rem var(--background-primary-shadow);
    padding: 1.4rem;
}
.Proyecto:active{
    background-color: var(--tarjeta-active);
    box-shadow: 0.7rem 0.7rem var(--background-primary-shadow);
    padding: 2rem;
    width: 29rem;
    height: 39rem;
}
.Proyectos-titulo{
    font-size: 4rem;
    font-weight: bold;
    margin-left: 4rem;
}
.Proyectos-imagen{
    height: 20rem;
    width: 30rem;
}
.Proyecto-texto{
    font-size: 2rem;
    margin-left: 1rem;
}
.Punto{
    color: var(--accent-primary);
}
a{
    font-size: 2rem;
    margin-left: 1rem;
    color: var(--texto);
}