@import url('./color.css');
.Tarjeta {
    background-color: var(--tarjeta)    ;
    border-radius: 2rem;
    color: var(--text);
    overflow: hidden;
}
.Tarjeta-about {
    padding: 1rem;
    margin: 2.6rem;
    width: 39rem;
    height: 29rem;
}
.Tarjeta:hover{
    background-color: var(--tarjeta-hover);
    box-shadow: 0.7rem 0.7rem var(--background-primary-shadow);
    padding: 1.4rem;
}
.Tarjeta-small {
    margin-right: 3.6rem !important;
    margin-left: 3.6rem !important;
    padding: 1rem;
    margin: 2rem;
    width: 30rem;
    height: 30rem;
}
.Tarjeta-titulo{
    font-size: 4rem;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
}
.Tarjeta-texto{
    margin-top: 1rem;
    font-size: 1.8rem;
}

ul.circulo {
    margin-top: 0.8rem;
    font-size: 1.8rem;
    list-style-type: circle;
}
.Punto{
    margin: 0;
    padding: 0;
    color: var(--accent-primary);
}
hr {
    height:0.1rem;
    margin: 0.2rem;
    margin-left: 0.1rem;
    background-color: var(--accent-hover);
    border-color: var(--accent-hover);
}
.Tarjeta-barra{
    width: 17.2rem;
    height:0.1rem;
    margin: 0.2rem;
    margin-left: 0.1rem;
    background-color: var(--accent-hover);
    border-color: var(--accent-hover);
}


