.Tarjeta {
    background-color: #373b48    ;
    border-radius: 2rem;
    color: white;
    overflow: hidden;
}
.Tarjeta-about {
    padding: 1rem;
    margin: 2.6rem;
    margin-right: 10rem;
    width: 39rem;
    height: 29rem;
}
.Tarjeta:hover{
    background-color: #3e4352;
    box-shadow: 0.7rem 0.7rem #16171b;
    padding: 1.4rem;
}
.Tarjeta-small {
    margin-right: 3.6rem !important;
    margin-left: 3.6rem !important;
    padding: 1rem;
    margin: 2rem;
    width: 30rem;
    height: 30rem;
}
.Tarjeta-titulo{
    font-size: 4rem;
    font-weight: bold;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
}
.Tarjeta-texto{
    margin-top: 1rem;
    font-size: 1.8rem;
}

ul.circulo {
    margin-top: 0.8rem;
    font-size: 1.8rem;
    list-style-type: circle;
}
.Punto{
    margin: 0;
    padding: 0;
    color: #4B4BCD;
}
hr {
    height:0.1rem;
    margin: 0.2rem;
    margin-left: 0.1rem;
    background-color: #4B4BCD;
    border-color: #4B4BCD;
}


